In [58]:
import pandas as pd
import numpy as np
import math

In [59]:
!ls

asset_details.csv	       gresearch_crypto        train.csv
example_sample_submission.csv  supplemental_train.csv  Untitled.ipynb
example_test.csv	       train_20k.csv

In [6]:
!cat asset_details.csv

Asset_ID,Weight,Asset_Name
2,2.3978952727983707,Bitcoin Cash
0,4.30406509320417,Binance Coin
1,6.779921907472252,Bitcoin
5,1.3862943611198906,EOS.IO
7,2.0794415416798357,Ethereum Classic
6,5.8944028342648505,Ethereum
9,2.3978952727983707,Litecoin
11,1.6094379124341003,Monero
13,1.791759469228055,TRON
12,2.0794415416798357,Stellar
3,4.406719247264253,Cardano
8,1.0986122886681098,IOTA
10,1.0986122886681098,Maker
4,3.5553480614894135,Dogecoin

In [3]:
TRAIN_FILE='./train_20k.csv'
train_df = pd.read_csv(TRAIN_FILE)

In [4]:
train_df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [16]:
BTC = train_df[train_df['Asset_ID'] == 1]

In [45]:
BTC.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
2,1514764860,1,229.0,13835.194,14013.8,13666.11,13850.176,31.550062,13827.062093,-0.014643
10,1514764920,1,235.0,13835.036,14052.3,13680.00,13828.102,31.046432,13840.362591,-0.015037
18,1514764980,1,528.0,13823.900,14000.4,13601.00,13801.314,55.061820,13806.068014,-0.010309
26,1514765040,1,435.0,13802.512,13999.0,13576.28,13768.040,38.780529,13783.598101,-0.008999
34,1514765100,1,742.0,13766.000,13955.9,13554.44,13724.914,108.501637,13735.586842,-0.008079

In [52]:
a = (BTC['VWAP'].shift()-BTC['VWAP'])

In [66]:
np.log(a/6.779921907472252)

2             NaN
10            NaN
18       1.621022
26       1.198212
34       1.957470
           ...
19962         NaN
19970         NaN
19978    2.166952
19986    0.682420
19994         NaN
Name: VWAP, Length: 2568, dtype: float64